:root {
  --main-font-family: "Voces", cursive;
  --regular-font-family: "Roboto", sans-serif;
  --background-color: #072539;
  --secondary-color: #fff8f8;
}
body {
  background: var(--secondary-color);
}

.hero {
  background: var(--background-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 200px 20px;
}

.hero h1 {
  font-family: var(--regular-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.hero h2 {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 96px;
  line-height: 130px;
}

.hero h3 {
  font-family: var(--regular-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.btn-branding {
  background: var(--secondary-color);
  color: var(--background-color);
  font-family: var(--regular-font-family);
  border-radius: 50px;
  padding: 18px 51px;
  font-size: 18px;
  line-height: 27px;
  transition: all 150ms ease-in-out;
}

.btn-branding:hover {
  opacity: 0.8;
  color: #56727d;
}
.section h2 {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 130px;
  color: var(--background-color);
}

img {
  display: block;
  width: 650px;
  border-radius: 20px;
  border: 2px solid #072539;
}

.section a {
  background: var(--background-color);
  color: var(--secondary-color);
  font-family: var(--regular-font-family);
  border-radius: 50px;
  padding: 18px 51px;
  font-size: 18px;
  line-height: 27px;
  transition: all 150ms ease-in-out;
  margin-left: 100px;
  margin-bottom: 100px;
}

.section a:hover {
  opacity: 0.9;
  color: #d5d1d0;
}

.section p {
  font-family: var(--regular-font-family);
  font-size: 24px;
  line-height: 38px;
  color: var(--background-color);
  margin-left: 100px;
}
